body{
    background-color:  #104E8B;
    color: white;
   
}

.cabecalho{
    font-size: 25px;
    text-align: center;
    margin-top: 3%;
    font-family: 'Open Sans';
}

#paragrafo{
    padding-top: 1%;
    font-size: 18px;
}

main{

    padding-left: 25%;
    width: 50%;
    
}

.formulario{
    font-family: 'Roboto Condensed';
    background-color: #000080; 
    padding: 2.5rem;
    margin-top: 5%;
    border-radius: 0.5%;
    
}

.input-padrao, label{
    display: block;
    width: 100%;
    margin: 0 0 5px;
    padding: 10px 0px;
    border-radius: 1%;
	
}

#checkbox{
    margin: 0 0 0px;
}

.enviar{
    margin-top: 2.5%;
    width: 100%;
    padding: 10px 0px;
    background: #ADFF2F;

}

@media screen and (max-width: 420px) {
	main{
	width: auto;
        padding: 0%;
	}
}
